## Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## NuGet Packages
*.nupkg
packages/

## Project-specific
server/bin/
server/obj/
vlsgame/bin/
vlsgame/obj/
shared/VLSShared/bin/
shared/VLSShared/obj/

## OS files
.DS_Store
Thumbs.dbvlsgame/Content/Maps/*.png
vlsgame/Content/Maps/
